@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #eef1f6;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 75px;
    color: #4a47a3;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#heading-container {
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    letter-spacing: 6px;
    font-style: italic;
    width: 100%;
    color: #4a47a3;
}

#main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.box {
    background-color: #fff;
    width: 375px;
    height: 350px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.box .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #d9deeb;
    background-color: #f7f8fc;
}

.box h2 {
    color: #4a47a3;
    font-weight: 600;
}

.box #controls {
    width: 100%;
    height: 90%;
}

.box #controls .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e1e5f0;
}

.box #controls .row:first-child div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    height: 30px;
    width: 100%;
}

#encode,
#decode {
    margin: 10px;
}

input[type="radio"]:checked + label {
    color: #4a47a3;
    font-weight: 600;
}

.box #controls .row:first-child div:last-child {
    border-left: 1px solid #e1e5f0;
}

.box #controls .row:nth-child(2) div {
    display: flex;
    flex-direction: row;
    color: #626b78;
    font-weight: 500;
    height: fit-content;
    width: 100%;
    padding-top: 5px;
}

.box #controls .row:nth-child(2) div div {
    padding-bottom: 10px;
}

.box #controls .row:nth-child(2) div span {
    margin-left: 10px;
}

#shift-input,
#mod-input {
    align-self: center;
    text-align: center;
    width: 40px;
    border: 0;
    outline: none;
    font-size: 14px;
}

.box #controls .row:nth-child(2) div:last-child {
    border-left: 1px solid #e1e5f0;
}

.box #controls .column div {
    display: flex;
    flex-direction: column;
    color: #626b78;
    font-weight: 500;
    height: fit-content;
    width: 100%;
    padding-top: 15px;
}

.box #controls .column div:last-child {
    border-bottom: 1px solid #e1e5f0;
    padding-bottom: 15px;
}

#alphabet-input {
    align-self: center;
    text-align: center;
    width: 90%;
    border: 0;
    outline: none;
    font-size: 16px;
    color: #4a47a3;
}

.box #controls .row:nth-child(4) div {
    display: flex;
    flex-direction: column;
    color: #626b78;
    font-weight: 500;
    height: fit-content;
    width: 100%;
    padding: 5px;
    text-align: left;
}

.box #controls .row:nth-child(4) div:last-child {
    border-left: 1px solid #e1e5f0;
}

select {
    border: 0;
    padding: 5px;
    outline: 0;
    font-size: 16px;
    color: #4a47a3;
    background-color: #f7f8fc;
}

#submit {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 500;
    margin: 15px 0px 20px 0px;
    line-height: 1.5;
    text-align: center;
    background-color: #4a47a3;
    border: 1px solid #4a47a3;
    padding: 6px 24px;
    font-size: 1rem;
    border-radius: .25rem;
    color: #fff;
    transition: 0.3s ease-in-out;
}

#submit:hover {
    background-color: #5c54d8;
    border-color: #5c54d8;
}

.box textarea {
    width: 100%;
    height: 90%;
    padding: 15px;
    font-size: 14px;
    box-sizing: border-box;
    resize: none;
    border: none;
    outline: none;
    background-color: #f9faff;
    color: #333;
    border-radius: 5px;
}

